{% load static %}
{% include 'includes/admin-nav.html' %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Inspection Center</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>

  </div>
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error'%}
      <div class="alert alert-danger" role="alert">
        {{ message }}.
      </div>
      {% else %}
      <div class="alert alert-success" role="alert">
        {{ message }}.
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  <div class="container-fluid m-2">
    <h3 style="border-bottom: 2px solid #c7c8c9; width: 160px;">Add New</h3>
    <form method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col">
          <label for="inlineGridName" class="sr-only">Name</label>
          {{form.name}}
        </div>
        <div class="col">
          <label for="inlineGridEmail" class="sr-only">Location</label>
          {{form.location}}
        </div>
        <div class="col">
          <label for="inlineGridEmail" class="sr-only">Type</label>
          {{form.type}}
        </div>
        <div class="col">
          <label for="inlineGridEmail" class="sr-only">Operating Hours</label>
          {{form.operating_hours}}
        </div>
        <div class="col">
          <label for="inlineGridEmail" class="sr-only"># Slots</label>
          {{form.number_of_slots_per_day}}
        </div>
        <div class="col pt-4">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <hr>
  <h2>All Center</h2>
  <table class="table table-hover">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Location</th>
      <th>Type</th>
      <th>Operating Hours</th>
      <th>#Slots</th>
      <th>Created</th>
      <th colspan="2">Actions</th>
      {% for center in centers %}
        <tr>
          <td>{{center.id}}</td>
          <td>{{center.name}}</td>
          <td>{{center.location}}</td>
          <td>{{center.type}}</td>
          <td>{{center.operating_hours}}</td>
          <td>{{center.number_of_slots_per_day}}</td>
          <td>{{center.created_at | timesince}}</td>
          <td ><a href="{% url 'update-center' center.id%}" class="text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
          </svg></a></td>
          <td><a href="{% url 'delete-center' center.id%}" class="text-danger" onclick="return confirm('Are you sure delete?');"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
          </svg></a></td>
        </tr>
      {% endfor %}
    </tr>
  </table>
</main>


{% include 'includes/admin-footer.html' %}